<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="../assets/Images/quiz.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/Dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">

        <!--Navigattion Aside-->
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icons"><i class="fa-solid fa-clipboard-question"></i></span>
                        <span class="title">
                            <h2>Quiz</h2>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icons"><i class="fa-solid fa-house"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="../components/Students.html">
                        <span class="icons"><i class="fa-solid fa-user-graduate"></i></span>
                        <span class="title">Student</span>
                    </a>
                </li>
                <li>
                    <a href="../components/createQuiz.html">
                        <span class="icons"><i class="fa-solid fa-circle-plus"></i></span>
                        <span  id="add-quiz" class="title">Add Quiz</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icons"><i class="fa-solid fa-right-from-bracket"></i></span>
                        <span id="logout" class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <!--Navigation Top-->
            <div class="topbar">
                <div class="toggle" onclick="toogleMenu()"></div>
                <!--<div class="search">
                    <label for="">
                        <input type="text" placeholder="Search here">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>

                </div>
            -->
                <div class="user">
                    <img src="../assets/Images/user.jpg" alt="kll">
                </div>
            </div>
            <!--Card of Statistics-->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers"></div>
                        <div class="cardName">Total Students</div>
                    </div>
                    <div class="iconBox"><i class="fa-solid fa-user-graduate"></i></div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers" id="n-ofQuizes"></div>
                        <div class="cardName">Total Quizes</div>
                    </div>
                    <div class="iconBox"><i class="fa-solid fa-circle-question"></i></div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">23</div>
                        <div class="cardName">Grades Info</div>
                    </div>
                    <div class="iconBox"><i class="fa-solid fa-circle-info"></i></div>
                </div>
            </div>

            <div class="deatails">
                <div class="recentQuizes">
                    <div class="cardHeader">
                        <h2>Recent Quizes</h2>
                        <div class="search">
                            <label for="">
                                <input id="category-search" type="text" placeholder="Search by subject">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </label>
        
                        </div>
                    </div>
                    <table id="quizzes-table">
                        <thead>
                            <tr>
                                <td>Number</td>
                                <td>Subject</td>
                                <td>Time</td>
                            </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                    </table>
                </div>
                <div class="recentStudent">
                    <div class="cardHeader">
                        <h2>Recent Students</h2>
                        <!--<div class="search">
                            <label for="">
                                <input type="text" id="username-search" placeholder="Search by username" style="width:200px;margin-right: 0px;">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </label>
        
                        </div>
                    -->
                        
                    </div>
                    <table id="students-table" bordered>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th> Quizzes Taken</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Student rows will be appended here by JavaScript -->
                        </tbody>
                    </table>
                </div>
                
            </div>

        </div>
    </div>

    <script>
        function toogleMenu() {
            let toggle = document.querySelector('.toggle')
            let navigation = document.querySelector('.navigation')
            let main = document.querySelector('.main')
            let topbar = document.querySelector('.navigationtopbar')
            toggle.classList.toggle('active')
            navigation.classList.toggle('active')
            main.classList.toggle('active')
            topbar.classList.toggle('active')
        }
    </script>
    <script type="module" src="../Src/dashbord.js"></script>
    <script type="module" src="../Src/internalhome.js"></script>
</body>

</html>