<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/userInfo.css">
</head>
<body>
    <header class=" text-white text-center py-3">
        <h1>User Profile</h1>
    </header>
    <main class="container my-5">
        <section class="profile-info card mb-4">
            <div class="card-body">
                <h2 class="card-title">Personal Information</h2>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" value="" disabled>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" value="" disabled>
                </div>
            </div>
        </section>
        <section class="update-info card">
            <div class="card-body">
                <h2 class="card-title">Update Password</h2>
                <form id="update-form">
                    <div class="form-group">
                        <label for="current-password">Current Password</label>
                        <input type="password" id="current-password" class="form-control" placeholder="Enter current password">
                    </div>
                    <div class="form-group">
                        <label for="new-password">New Password</label>
                        <input type="password" id="new-password" class="form-control" placeholder="Enter new password">
                    </div>
                    <div style="display: flex; justify-content: space-around;">
                    <button type="submit" class="btn btn-block" style="width:300px;">Update</button>
                    <a  href="../components/internalHome.html" class="btn btn-block" style="width:300px;">Back To Home</a>
                </div>
                </form>
            </div>
        </section>
    </main>
    <footer class="text-white text-center">
        <p>&copy; 2024 My Quiz. All rights reserved.</p>
    </footer>
    <script type="module" src="../Src/userInfo.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
