@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #770550;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
width: 60px;
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
}
.navigation ul li:hover{
    background-color: #d339be;
}
.navigation ul li:nth-child(1):hover{
    background: transparent;
}
.navigation ul li:nth-child(1){
   margin: 15px 0 25px 0;
   
}
.navigation ul li a{
    position: relative;
    display: block;
    display: flex;
    text-decoration: none;
    color: #fff;
    width: 100%;
}
.navigation ul li a .icons{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icons .fa-solid{
   color: #fff;
   font-size: 24px
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height:60px ;
    white-space: nowrap ;
}
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: rgb(255, 230, 249);
    transition: 0.5s;

}
.main.active{
    width: calc(100% - 60px);
    left: 60px;
}
.main .topbar{
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(238, 136, 199) ;
    
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #000;

}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    width: 100%;
    position: relative;
}
.search label input{
width: 100%;
height: 40px;
border-radius: 40px;
padding: 5px 20px;
outline: none;
padding-left: 35px;
border:1px solid rgba(0, 0, 0, .2);
}
.search label .fa-solid{
    position: absolute;
    left: 15px;
    top: 3px;
}
.user{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius:50%;
}
.user img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
}
.cardBox .card{
    position: relative;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.cardBox .card .numbers{
    position: relative;
    font-size: 2em;
    font-weight: 500;
}
.cardBox .card .cardName{
    color: #821f8f;
}
.cardBox .card .iconBox{
    color: #d339be;
    font-size: 2.5em;
}
.deatails{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top:0 ;
    display: grid;
    gap: 20px;
    grid-template-columns:2fr 1fr ;
}
.deatails .recentQuizes{
    position: relative;
    min-height: 530px;
    background-color: #fff;
    padding: 20px;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
}
.cardHeader .btn{
    position: relative;
    background-color: #d339be;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}
.deatails table{
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}
.deatails table thead td{
    font-weight: 600;
}
.deatails .recentQuizes table tr{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.deatails .recentQuizes table tr:last-child{
    border-bottom: none;
}
.deatails .recentQuizes table tr:hover{
    background-color: #d339be;
    color: #fff;
}
.deatails .recentQuizes table tr td {
    padding: 9px 5px;
}
.deatails .recentQuizes table thead tr td:last-child, 
.deatails .recentQuizes table tbody tr td:last-child{
    text-align: right;   
}
.deatails .recentStudent{
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}
.deatails .recentStudent .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px 0;
    border-radius: 50%;
    overflow: hidden;
}
.deatails .recentStudent .imgBx img{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.deatails .recentStudent table tr:hover{
background-color: #d339be;
color: #fff;
}
.deatails .recentStudent table tr td{
    padding: 7px 10px;
}

@media(max-width:992px)
{
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        width:calc(100% - 300px) ;
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:768px){
    .deatails{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
        font-weight: 600;
        font-size: 18px;
    }
}
@media(max-width:480px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .deatails .recentQuizes{
        overflow-x: auto;
    }
    .deatails .recentQuizes table{
        width: 600px;

    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index:1000 ;
    }
    .navigation.active{
        width: 100%;
        left: 0%;
        
    }
    .toggle.active{
        z-index: 1000;
    }
    .toggle.active::before{
        color: #FFF;
    }
}